<div class="alert alert-danger" ng-show="data.error">
    Error ({{data.error.data.error}}). No se pudieron cargar los datos.
</div>

<div class="panel">
    <div class="panel-body">
        <div class="col-xs-8">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Busca un producto" ng-model="search.Busqueda" />
                <span class="input-group-btn">
                    <button class="btn btn-danger" ng-click="searchFn(search)">Buscar</button>
                </span>
            </div>
        </div>
        <div class="col-xs-4">
            <select class="form-control" required ng-model="search.Estado" ng-options="item.name for item in estados">
                <option value="">Estado</option>
            </select>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <strong>Agregados recientemente</strong>
    </div>
    <div class="panel-body">
        <div class="well text-center" style="margin-bottom: 0px;" ng-show="loadingContent"><strong>Cargando contenido...</strong></div>
        <div class="well text-center" style="margin-bottom: 0px;" ng-show="emptyContent"><strong>No se encontró ningún producto</strong></div>
        <div class="texthidden" ng-repeat="registro in data.records">
            <div class="row box">
                <div class="col-xs-2 text-center">
                    <span class="productoVotos">{{registro.VoteCount}}</span>
                </div>
                <div class="col-sm-7 col-xs-10 productoNombre">
                    <div class="row">
                        <a ng-href="/registro/{{registro.Id}}">{{registro.Producto.Nombre}}</a>
                    </div>
                    <div class="row">
                        <label>{{registro.Direccion.Estado}}</label>
                    </div>
                </div>
                <div class="col-sm-3 hidden-xs  productoPrecio text-center">{{registro.Producto.Precio | bolivares}}</div>
            </div>
        </div>
    </div>
</div>
